*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(5450244.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 10px;
}

.Name {
    color: #FFD700;
    font-size: 2em;
    font-family: Arial;
    padding-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.navbar {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between:
}

.menu{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 1em;
    white-space: nowrap;
}

ul li a{
    text-decoration: none;
    color: #D4AF37;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

ul li a:hover{
    color: #FFD27F
}

h1 {
    text-decoration: underline;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
}

.content{
    width: 100%;
    max-width: 100%;
    padding: 20px;
    margin: 20px auto;
    color: #fff;
    padding-top: 20px;
    position: relative;
}

.par {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    font-family: Arial;
    margin-top: 20px;
}

.education-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom; 20px;
    font-family: Arial;
    font-weight: bold;
}

.school-info {
    flex: 1;
}

.school-dates {
    flex: 1;
    text-align: right;
    font-weight: bold;
    font-family: Arial;
}

form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-family: Arial;

}
form input, form textarea {
        width: 100%;
        padding: 10px;
        margin: 5px 0 20px 0;
        border: 1px solid #fff;
        border-radius: 5px;
        background-color: #333;
        color: #fff;
        font-family: Arial;
}

form button {
    padding: 10px 20px;
    background-color: #FFD700;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial;
}

form button:hover{
    background-color: #FFD27F;
}

#form-status {
    color: #FFD700;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
}

@media (max-width: 600px) {
    .navbar,
    .content {
        padding: 15px;
        font-size: 0.95em;
    }

    .Name {
        font-size: 1.5em;
    }

    ul li {
        margin: 5px;
        font-size: 0.9em;
    }
}




